@font-face {
  font-family: 'Libertad';
  src: url('/fonts/Libertad-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LibertadMedium';
  src: url('/fonts/Libertad-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'LibertadLight';
  src: url('/fonts/Libertad-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LibertadMono-Regular';
  src: url('/fonts/LibertadMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LibertadMono-Medium';
  src: url('/fonts/LibertadMono-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
