@font-face {
  font-family: 'Veneer';
  src:
    url('/fonts/Veneer-Three.woff2') format('woff2'),
    url('/fonts/Veneer-Three.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Veneer';
  src:
    url('/fonts/Veneer-ThreeItalic.woff2') format('woff2'),
    url('/fonts/Veneer-ThreeItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Veneer';
  src:
    url('/fonts/Veneer-Two.woff2') format('woff2'),
    url('/fonts/Veneer-Two.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Veneer';
  src:
    url('/fonts/Veneer-TwoItalic.woff2') format('woff2'),
    url('/fonts/Veneer-TwoItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Veneer';
  src:
    url('/fonts/Veneer-Extras.woff2') format('woff2'),
    url('/fonts/Veneer-Extras.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Veneer';
  src:
    url('/fonts/Veneer-ExtrasItalic.woff2') format('woff2'),
    url('/fonts/Veneer-ExtrasItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Veneer';
  src:
    url('/fonts/Veneer-Italic.woff2') format('woff2'),
    url('/fonts/Veneer-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Veneer';
  src:
    url('/fonts/Veneer.woff2') format('woff2'),
    url('/fonts/Veneer.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
